<div class="tab-pane" id="abrt">
<% if @host.recent_abrt_reports.any? %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Reported</th>
      <th>#</th>
      <th>Reason</th>
    </tr>
    <% @host.recent_abrt_reports.each do |abrt_report| %>
    <tr>
      <td> <%= link_to (_("%s ago") % time_ago_in_words(abrt_report.reported_at.getlocal)), abrt_report %></td>
      <td> <%= abrt_report.count %> </td>
      <td> <%= abrt_report.reason %> </td>
    </tr>
    <% end %>
  </table>
  <%= link_to _("All bug reports for this host"), host_abrt_reports_path(@host), :class => "btn btn-default" %>
<% else %>
  <div class="alert alert-success"> <%= _("No bug reports for this host in the last month") %> </div>
<% end %>
</div>
