<div class="row">
  <div class="col-md-12">
    <p><%= _('The report has been sent for analysis on %s.') % @abrt_report.forwarded_at.getlocal %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Reports</h3>
    <% if !@abrt_report.abrt_report_response_destinations.empty? %>
      <table class="table table-bordered table-striped">
        <% @abrt_report.abrt_report_response_destinations.each do |destination| %>
          <tr>
            <% if destination.desttype == 'url' %>
              <td><a href="<%= destination.value %>"><%= destination.reporter %></a></td>
            <% else %>
              <td><%= "#{destination.reporter}: #{destination.value}" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="alert alert-info">
        <%= _('No additional instances of the problem.') %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>Solutions</h3>
    <% if !@abrt_report.abrt_report_response_solutions.empty? %>
      <table class="table table-bordered table-striped">
        <% @abrt_report.abrt_report_response_solutions.each do |solution| %>
          <tr>
            <% if solution.url %>
              <td><a href="<%= solution.url %>"><%= solution.cause %></a></td>
            <% else %>
              <td><%= solution.cause %></td>
            <% end %>
            <td><%= simple_format_if_multiline solution.note %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="alert alert-info">
        <%= _('Server did not provide any solution.') %>
      </div>
    <% end %>
  </div>
</div>
