<% title @abrt_report.host.to_s %>

<%= title_actions link_to(_("Host details"), @abrt_report.host),
  link_to(_("Other reports for this host"), host_abrt_reports_path(@abrt_report.host)),
  link_to(_("JSON"), json_abrt_report_path(@abrt_report)),
  link_to(_("Forward report"),
          forward_abrt_report_path(@abrt_report),
          :class => "btn btn-success",
          :method => :post,
          :confirm => @abrt_report.forwarded_at ? _("The report has already been sent to the ABRT server. Send again and overwrite the previous response?") : nil),
  display_delete_if_authorized(hash_for_abrt_report_path(:id => @abrt_report), :class => "btn btn-danger")
%>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <tr><th><%= _('Reason') %></th><td><%= format_reason @abrt_report.reason %></td></tr>
      <tr><th><%= _('First reported') %></th><td><%= @abrt_report.reported_at.getlocal %></td></tr>
      <tr><th><%= _('Repeated') %></th><td><%= @abrt_report.count %></td></tr>
      <tr><th><%= _('Duplication hash') %></th><td><%= @abrt_report.duphash %></td></tr>
    </table>
  </div>
</div>

<hr>

<% if @abrt_report.forwarded_at %>
  <%= render :partial => 'show_response' %>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <p><%= _("The report hasn't been forwarded to ABRT server.") %></p>
    </div>
  </div>
<% end %>
